section#home-section
  #rev_slider_202_1_wrapper.rev_slider_wrapper[data-alias="concept1" style="background-color:#000000;padding:0px;"]
    span
      = image_tag("slider/slider-image-1.jpg", data: {bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat"})

